.contacts {
  background-color: #efefef;
  .bar-header {
    background-color: #0a9dc7;
    padding: 0 15px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .buttons:first-of-type {
      flex-basis: 15%;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
    }
    .input-text {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      color: #fff;
      font-size: 1rem;
    }
    .buttons:last-of-type {
      display: inline-flex;
      flex-basis: 15%;
      align-items: center;
      justify-content: flex-end;
      i {
        font-size: 1.5rem;
        color: #fafafa;
      }
    }
  }
  .bar-subheader {
    padding: 5px 15px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #f8f8f8;
    .search-border {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      border: 1px solid #ddd;
      div {
        flex-basis: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        i {
          font-size: 20px;
          color: #b2b2b2;
        }
      }
      input {
        flex: 1;
        border: none;
      }
    }
  }

  ion-content {
    ion-list {
      ion-item {
        width: 100%;
        margin: 0;
        padding: 5px 15px;
        border: none;
        border-bottom: 1px solid #efefef;
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
        img {
          flex-basis: 10%;
          width: 50px;
        }
        div {
          padding-left: 10px;
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          h3 {
            font-weight: bold;
            text-align: left;
          }
          span {
            text-align: left;
          }
        }
      }
    }
  }
}
