<ion-view view-title="消息" class="keyboard-page" ng-controller="keyboardCtrl as keyboardVM">
  <ion-header-bar class="bar-header">
    <div class="buttons">
    </div>
    <div class="input-text"><span>拨号</span></div>
    <div class="buttons">
    </div>
  </ion-header-bar>
  <ion-content class="content" scroll="false">
    <div class="phone-number" ng-show="keyboardVM.callNumber!=''">
      <div class="add-sign"><i class="icon ion-plus-circled"></i></div>
      <div class="numbers"><span>{{keyboardVM.callNumber}}</span></div>
      <div class="rollback" ng-click="keyboardVM.backSpace()"><i class="icon ion-backspace"></i></div>
    </div>
    <div class="keyboard">
      <div class="row" ng-repeat="item in keyboardVM.pageData">
        <div class="key-button button" ng-repeat="x in item" ng-click="keyboardVM.clickButton(x)">
          <span>{{x}}</span>
        </div>
      </div>
      <div class="phone">
        <div class="phone-button button"
             ng-click="keyboardVM.callNumber == ''?'':keyboardVM.callPhoneNumber(keyboardVM.callNumber)">
          <i class="icon ion-ios-telephone"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
